---
import { t } from '../i18n/ui';
import { ASSETS } from '../lib/cloudinary';
import VideoScrub from './VideoScrub.astro';
---

<section class="enpaques" id="enpaques">
  <VideoScrub
    id="enp"
    videoSrc={ASSETS.video}
    introEyebrow={t('enpaques.eyebrow')}
    introTitle={t('enpaques.title')}
    hint={t('enpaques.hint')}
    chip1={t('enpaques.chip1')}
    chip2={t('enpaques.chip2')}
    watchLabel={t('enpaques.watchLabel')}
    outroEyebrow={t('enpaques.outroEye')}
    outroTitle={t('enpaques.outroTitle')}
  />
</section>
