---
import { t } from '../i18n/ui';
---
<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="footer-brand">
        <a href="#" class="nav-logo">
          <span class="nav-logo-mark">100</span>
          Naturizable
        </a>
        <p class="footer-tagline" data-i18n="footer.tagline">
          {t('footer.tagline')}
        </p>
      </div>
      <div class="footer-col">
        <h4 data-i18n="footer.col1">{t('footer.col1')}</h4>
        <ul>
          <li><a href="#producto">Charola 855</a></li>
          <li><a href="#" data-i18n="footer.col1l2">{t('footer.col1l2')}</a></li>
          <li><a href="#" data-i18n="footer.col1l3">{t('footer.col1l3')}</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4 data-i18n="footer.col2">{t('footer.col2')}</h4>
        <ul>
          <li><a href="#tecnologia" data-i18n="footer.col2l1">{t('footer.col2l1')}</a></li>
          <li><a href="#casos" data-i18n="footer.col2l2">{t('footer.col2l2')}</a></li>
          <li><a href="#eventos" data-i18n="footer.col2l3">{t('footer.col2l3')}</a></li>
          <li><a href="#" data-i18n="footer.col2l4">{t('footer.col2l4')}</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4 data-i18n="footer.col3">{t('footer.col3')}</h4>

        <div class="footer-region">
          <span class="footer-region-name">México</span>
          <ul>
            <li><a href="mailto:atencionacliente@grupo-ortiz.com">atencionacliente@grupo-ortiz.com</a></li>
            <li><a href="tel:+524432072593">+52 (443) 207-2593</a></li>
          </ul>
        </div>

        <div class="footer-region">
          <span class="footer-region-name">Estados Unidos</span>
          <ul>
            <li><a href="tel:+12104293789">+1 (210) 429-3789</a></li>
            <li class="footer-region-sub">
              <span class="footer-region-sub-label">Bodega · Warehouse</span>
              20915 Wilderness Oak, San Antonio TX 78258
            </li>
            <li class="footer-region-sub">
              <span class="footer-region-sub-label">Oficina · Office</span>
              San Antonio, TX 78258
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div data-i18n="footer.copyright">{t('footer.copyright')}</div>
      <div class="moto" data-i18n="footer.moto">{t('footer.moto')}</div>
    </div>
  </div>
</footer>
